.post {
  blockquote {
    background-color: $light-grey;
    border-left: 5px solid $primary;
    font-size: 1.25em;
    font-style: italic;
    margin: 1em 0;
    padding: 5px 1em;

    > p {
      line-height: 1.25em;
    }
  }

  :not(blockquote) > p {
    line-height: 1.5em;
  }

  p {
    margin: 0;
  }

  p + p {
    margin-top: 1em;
  }

  aside {
    background-color: $light-primary;
    border-bottom: 1px solid $primary;
    border-top: 1px solid $primary;
    font-size: 1.25em;
    font-style: italic;
    margin: 1em 0;
    padding: .5em 0;
    text-align: center;
  }

  hr {
    margin: 1em 0;
  }

  a {
    color: $grey;
    text-decoration: underline dashed;
  }

  table:not(.rouge-table) {
    border: 1px solid #aaa;
    border-collapse: collapse;
    margin: .5em 0 1em;

    th {
      padding-bottom: 2px;
      border-bottom: 2px dashed
        #aaa;
    }

    tr {
      border-bottom: 1px solid #aaa;
    }

    tr:nth-child(odd) {
      background: #fff;
    }

    tr:nth-child(even) {
      background: #eee;
    }
  }
}
