header {
  background-color: $black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.33);
  display: flex;
  padding: 1em;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;

  nav {
    font-size: 1.25em;
  }

  .brand {
    &.name {
      color: $white;

      &:hover {
        color: $primary;
      }
    }
  }

  > .expand {
    flex-grow: 0;
  }

  .begin {
    align-items: center;
    display: flex;
  }

  .end {
    display: flex;
    flex-basis: 108px;
    justify-content: space-around;
    margin-top: .5em;

    svg {
      fill: $white;
      height: 25px;

      &.stack-overflow:hover {
        .so-base {
            fill: $stack-overflow-gray;
        }

        .so-stack {
          fill: $stack-overflow-orange;
        }
      }

      &.github:hover {
        path {
          fill: $github-purple;
        }
      }

      &.rss:hover {
        path {
          fill: $primary;
        }
      }
    }
  }
}

main {
  background-color: $white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1em;
}

footer {
  align-items: center;
  background-color: $black;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5em;
  white-space: nowrap;

  .name {
    color: $primary;
  }
}

// hr {
//   height: 30px;
//   border-style: solid;
//   border-color: #84B0F2;
//   border-width: 1px 0 0 0;
//   border-radius: 20px;
// }

// put some space between published date and post content

@media (min-width: 768px) {
  header {
    flex-wrap: nowrap;
    justify-content: flex-start;

    > .expand {
      flex-grow: 1;
    }

    > .end {
      margin-top: 0;
    }
  }

  main {
    align-self: center;
    width: 75%;
  }
}

