@import 'variables/fonts';
@import 'variables/colors';

/*
  Overall site structure setup
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: $main-font-name, serif;
  font-size: 20px;
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

body {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/*
  Global styles
*/

.expand {
  flex-grow: 1;
}

.brand {
  &.name {
    font-weight: 600;
    text-decoration: none;

    /* i animation: https://codepen.io/alichur/pen/vYYLdej */
    .box {
      display: inline-block;
    }

    .letter {
        text-align : center;
        margin     : 0;
        font-weight: bold;
        color      : white;
        line-height: 0.55;

        &.inverse {
          color: #527ECD;
        }
    }

    @keyframes color-change {
        from {
            color: white;
        }

        to {
            color: #527ECD;
        }
    }

    @keyframes inverse-color-change {
      from {
          color: #527ECD;
      }

      to {
          color: white;
      }
  }

    @keyframes bounce {
        from {
            transform: translate3d(0, 0, 0);
        }

        to {
            transform: translate3d(0, -10px, 0);
        }
    }

    .animate {
        // color    : white;
        animation: color-change 2s infinite alternate, bounce 0.4s infinite alternate;
    }

    // .inverse {
    //   // color    : #527ECD;
    //   animation: inverse-color-change 2s infinite alternate, bounce 0.4s infinite alternate;
    // }

    @media (prefers-reduced-motion: reduce) {
      .animate {
        animation: none;
      }
    }
  }
}

#logo {
  &.x-lg {
    font-size: 250px;
    font-family: 'Calisto MT';
    height: 225px;
    margin-right: -12px;

    #logo-p-shadow {
      transform: translate(15px, 165px);
    }

    #logo-p {
      fill: $primary;
      transform: translate(18px, 168px);
    }

    #logo-d-shadow {
      transform: translate(270px, 55px) scale(-1);
    }

    #logo-d {
      transform: translate(273px, 58px) scale(-1);
      fill: $secondary;
    }
  }
}

@import 'scaffolding';
@import 'home';
@import 'post';
@import 'code/code';
