/* VSCode Quite Light */
.language-javascript {
  .k {
    color: #4B69C6;
  }

  .kc,
  .mi {
    color: #9C5D27;
  }

  .kd,
  .nx {
    color: #7a3e9d;
  }

  .cm,
  .o {
    color: #ABAEB3;
  }

  .na {
    color: #8190A0;
  }

  .p {
    color: #7E7E7E;
  }

  .s1,
  .s2 {
    color: #448C27;
  }
}
