/* VSCode Quite Light */
.language-sass {
  .err {
    display: none;
  }

  .k {
    color: #4B69C6;
  }

  .no {
    color: #9C5D27;
  }

  .nv {
    color: #7a3e9d;
  }

  .p {
    color: #7E7E7E;
  }

  .s {
    color: #448C27;
  }
}
