/* VSCode Quite Light */
.language-typescript {
  .c1,
  .cm {
    color: #ABAEB3;
  }

  .k,
  .kr {
    color: #4B69C6;
  }

  .kc {
    color: #9C5D27;
  }

  .kd,
  .nl,
  .o {
    color: #7a3e9d;
  }

  .nd {
    color: #AA3731;
    font-weight: bold;
  }

  .nb,
  .nx {
    color: #7a3e9d;
    font-weight: bold;
  }

  .na,
  .p {
    color: #7E7E7E;
  }

  .s1,
  .s2 {
    color: #448C27;
  }
}
