$black: #000;
$white: #fff;
$light-grey: #efefef;
$shadow: #ddd;
$grey: #888;
$dark-gray: #444;
$primary: #5057ff;
$light-primary: mix($white, $primary, 50%);
$secondary: #C8D56E;
$red: #c25;

$stack-overflow-gray: #bcbbbb;
$stack-overflow-orange: #f48024;
$github-purple: #7b007d;
